/* -------------------------------- 

xBackground 

//not done

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-5;
}

.page-wrapper {
    background: url(css-zen-garden-2021\style-guide-template-parcel\style-guide-template\src\assets\._background-4.jpg) no-repeat;
	margin: 0; 
	position: relative;
}
