/* -------------------------------- 

xBackground 

//not done

-------------------------------- */

body {
	background: url("/assets/background-4.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.summary {
	background: rgb(255, 255, 255);
	padding: 25px;
}

.preamble {
	background: rgba(255, 255, 255, 0.705);
	padding: 35px;
}

.main {
	background: rgba(255, 255, 255, 0.705);
	padding: 25px;
}

.page-wrapper {
	background: none;
}
