/* -------------------------------- 

xBackground 

//not done

-------------------------------- */

body {
	background: url("https://png.pngtree.com/thumb_back/fw800/background/20190522/pngtree-space-nebula-backgrounds-image_112354.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


