// color palette - these colors will be the color swatches of the Colors section

//Completed by April

$color-1: #3381FF; // Light Blue - Action color
$color-2: #020314; // Very Dark Blue
$color-3: #F5006A; // Magenta
$color-4: #9B22A8; // Light Purple
$color-5: #EBFCFE; // White-ish

// additional colors

$success: #B11BA2; // Light Purple
$alert: #FB5607; // Orange

