// color palette - these colors will be the color swatches of the Colors section

//Completed by April

$color-1: #3381ff; // Light Blue - Action color
$color-2: #020314; // Very Dark Blue
$color-3: #f5006a; // Magenta
$color-4: #b11ba2; // Light Purple
$color-5: #ebfcfe; // White-ish

// additional colors

$success: #b11ba2; // Light Purple
$alert: #fb5607; // Orange
