// breakpoints

$S: 768px;
$M: 1024px;
$L: 1600px;

// media queries

@mixin MQ($canvas) {
  @if $canvas==S {
    @media only screen and (min-width: $S) {
      @content;
    }
  }

  @else if $canvas==M {
    @media only screen and (min-width: $M) {
      @content;
    }
  }

  @else if $canvas==L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
}

.page-wrapper {
  display: grid;
  grid-template-columns: auto;
}

.intro {
  margin: 200px 5% 0 5%;
}

.sidebar {
  grid-row: 2/4;
}


.explanation,
.participation,
.benefits,
.requirements,
footer,
.wrapper {
  background-color: #000000d8;
  margin: 2.5% 5%;
  padding: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: #00dbf7;
  border-radius: 2px;
}

h2::before {
  content: "" !important;
}

header {
  text-align: center;
}
.intro {
  margin: 200px 5% 0 5%;
}

.summary, .preamble {
  padding: 5%;
  background-color: #000000d8;
  border-style: solid;
  border-width: 2px;
  border-color: #00dbf7;
  border-radius: 2px;
  margin: 5%;
}

.footer {
  text-align: center;
}

#zen-supporting {
  animation: fadeEffect 4s; /* fading effect takes 3s */
}



@media screen and (min-width: $M) {

  .page-wrapper {
    grid-template-columns: auto auto;
  }
  
  .intro {
    grid-column: 1/2;
    margin: 200px 5% 0 5%;
  }
  
  .sidebar {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 200px 5% 0 5%;
  }
  
  .main {
    grid-column: 1/3;
  }

  .summary, .preamble {
    width: 100%;
  }

  .wrapper {
    position: relative;
    border-color: #F2006B;
    color: #a2f1fa;
    padding: 3%;
    margin: 5% auto;
    max-width: 75%;
  }

  .wrapper ul a{
    color: #3381FF;
  }

  .wrapper ul {
    padding-top: 10px;
    padding-bottom: 10px;
  }

    .wrapper li {
    padding-top: 2px;
    padding-bottom: 1px;
  }

  .design-name:before {
    content: url("https://ron981010.github.io/kochambercommerce.github.io/images/star.svg");
    margin-right: 4px;
  }

  .designer-name:hover {
    color: #F2006B;
    
  }

  .design-name:hover {
    color: white;
  }

  .wrapper:before {
    content: url("https://ron981010.github.io/kochambercommerce.github.io/images/byui2.svg");
    position: absolute;
    width: 30%;
    top: 50%;
    left: 60%;
    fill: #000000a3;
    animation: rocket-rotate 20s linear infinite;   
  }

  @keyframes rocket-rotate {
    0% {
      transform: rotate(-25deg) translateY(-5%) translateX(-10%);
    }
    5% {
      transform: rotate(-25deg) translateY(-5%) translateX(-10%);
    }
    10% {
      transform: rotate(-27deg) translateY(-10%) translateX(-10%);
    }
    15% {
      -webkit-transform: rotate(0deg) translateY(-30%) translateX(-30%);
    }
    30% {
      -webkit-transform: rotate(360deg) translateY(-200%) translateX(-200%);
    }
    35% {
      -webkit-transform: rotate(380deg) translateY(-350%) translateX(-150%);
    }
    70% {
        -webkit-transform: rotate(400deg) translateY(-50%) translateX(-50%);
    }
    80% {
      transform: rotate(360deg) translateY(-35%) translateX(-50%);
    }
    100% {
      transform: rotate(335deg) translateY(-5%) translateX(-10%);
    }
  }

  @keyframes fadeEffect { /* from 0 to full opacity */
    from {opacity: 0;}
    to {opacity: 1;}
  }    
    

  #zen-supporting {
    flex-direction: column;
    flex-wrap: wrap;    
  }

  .explanation {
    flex-basis: 80%;
  }

  .participation {
    flex-basis: 80%;
  }

  .design-archives {
    flex-basis: 80%;
  }

  .benefits {
    flex-basis: 80%;

  }

  .requirements {
    flex-basis: 80%;
  }

  .footer {
    flex-basis: 80%;
  }
}

@media screen and (min-width: $L){
  .wrapper {
    max-width: 60%;
  }
}
