/* -------------------------------- 

xTypography 

-------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

// font variables //
// body copy
$primary-font: "Ubuntu", sans-serif; //or "Titillium-Web", sans-serif;

// titles, tunes and metres
$secondary-font: "Oxanium", serif;

$body-font: "Montserrat", sans-serif; //better readibility

h1, // all headings, except inside section boxes, b/c white-on-white is bad
h2, 
h3 {
	font-family: $secondary-font;
	color: $color-5;
}

h1 {
	color: $color-2;
	font-size: 4rem;
	font-weight: 800;
	margin-bottom: 10px;
}

h2 {
	text-transform: uppercase;

	@include MQ(S) {
		font-size: 2.5rem;
	}
}

h3 {
	font-size: 2.5rem;
	padding: 10px;
	font-weight: 600;
}

section > h2::before {
	/* number before each section title */
	color: darken($color-4, 15%);
}

p {
	font-size: 1.7rem;
	line-height: 1.7;
	color:$color-5;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	a {	
		color: $color-4;
		text-decoration: underline;
	}
}

a {
	text-decoration: underline;
	color: $color-4;
}

.cd-primary-nav a,
.cd-main-nav a {
	font-family: $secondary-font;
}
