@import "partials/reset";
@import "partials/prefix-mixins";
@import "partials/layout"; // responsive grid and media queries
@import "partials/typography"; // Fonts and fonts
@import "partials/navigation"; // nav tools
@import "partials/patterns"; // whatever these refer to
@import "partials/buttons";
@import "partials/page-title";

// color palette - these colors will be the color swatches of the Colors section

$color-1: #5f8ee4; // Cornflower Blue - Action color
$color-2: #19191a; // Dark Blue
$color-3: #e4655f; // Red
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: "Oxanium", serif;
$secondary-font: "Ubuntu", sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-5;
}

@import "partials/basic-style";
