@import "partials/reset";
@import "partials/prefix-mixins";
@import "partials/layout"; // responsive grid and media queries
@import "partials/typography"; // Fonts and fonts
@import "partials/navigation"; // nav tools
@import "partials/patterns"; // whatever these refer to

// color palette - these colors will be the color swatches of the Colors section

$color-1: #5f8ee4; // Cornflower Blue - Action color
$color-2: #19191a; // Dark Blue
$color-3: #e4655f; // Red
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: "Oxanium", serif;
$secondary-font: "Ubuntu", sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-5;
}

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $color-2;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $color-5;
	}
}

/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
	border: none;
	box-shadow: none;
	border-radius: 0.25em;
	font: {
		size: 1.4rem;
		family: $secondary-font;
	}
	color: $color-5;
	padding: 0.6em 2.2em;
	cursor: pointer;
	background: $color-1;

	&:focus {
		outline: none;
	}

	.no-touch &:hover {
		background: lighten($color-1, 5%);
	}

	&.btn-success {
		background: $success;

		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-alert {
		background: $alert;

		.no-touch &:hover {
			background: lighten($alert, 5%);
		}
	}

	&.btn-outline {
		color: $color-1;
		background: transparent;
		box-shadow: inset 0 0 0 1px $color-1;

		.no-touch &:hover {
			color: $color-5;
			background: $color-1;
		}
	}

	@include MQ(S) {
		font-size: 1.6rem;
	}
}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */
	color: $color-1;
}

@import "partials/basic-style";
